@import "00-settings/_variables";
@import "00-settings/_placeholders";

@import "01-tools/_functions";
@import "01-tools/_mixins";

@import "02-generic/_reset";
@import "02-generic/_box-sizing";
//@import "02-generic/_normalize";

@import "03-base/_fonts";
@import "03-base/_page";
@import "03-base/_images";

//@import "04-vendor/";

@import "07-pages/_default";

//@import "08-theme/";

//@import "09-trumps/_grid";
//@import "09-trumps/_print";

body {
  font-family: Arial, sans-serif;
  padding: 10px;
}

.row {
  margin-top: 20px;

  &:first-child { margin-top: 0; }
}

.box {
  overflow: hidden;
  width: 100%;
}

.category {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.title {
  display: block;
  font-size: 16px;
  font-weight: 700;
}

.list {
  @include x-clearfix;
  width: 200%;
}

.item {
  background: #000;
  display: inline-block;
  float: left;
  list-style: none;
  margin-left: 10px;

  &:first-child { margin-left: 0; }
}

.image { opacity: 0.4; }

.on .image { opacity: 1; }
